.project {
  h1 {
    color: $color__secondary;
  }
  .divider {
    background-color: #7070703b;
    height: 3px;
    border-radius: 50px;
    width: 100%;
    margin: 20px 0;
  }
  p {
    color: #707070;
    line-height: 1.7;
  }
  @media #{$small-mobile} {
    h1{
      font-size: 18px;
    }
    p{
      font-size: 12px;
    }
    .divider{
      margin: 10px 0;
      height: 1.5px;
    }
  }
}
.image__container {
  width: 100% !important;
  overflow: hidden !important;
}
