@import "./global.scss";
@import "./layout/header.scss";
@import "./Ui/buttons.scss";
@import "./components/Contactform.scss";
@import "./components/Video.scss";
@import "./components/team.scss";
@import "./components/blogCards.scss";
@import "./components/About.scss";
@import "./components/pageTop.scss";
@import "./components/Partners.scss";
@import "./layout/footer.scss";
@import "./components/servicesCards.scss";
@import "./components/homeSlider.scss";
@import "node_modules/react-modal-video/scss/modal-video.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color__secondary;
}
section {
  padding: 7% 0%;
  .section__title {
    text-align: center;
    color: $color__primary;
    font-size: 32px;
    padding-bottom: 70px;

    font-weight: 700;
    &::after {
      content: "";
      height: 24px;
      width: 4px;
      margin-top: 15px !important;
      background-color: $color__primary;
      display: block;
      border-radius: 50px;
      margin: 0 auto;
    }
  }
}
.overlay-2 {
  background: linear-gradient(
    110deg,
    rgba($color__secondary, 0.6),
    rgba(#ffffff, 0.2)
  );
}

.img-container {
  height: 80px;
  max-width: 210px !important;
  display: flex !important;
  margin: 0 auto !important;
  align-items: center !important;
  img {
    height: 80%;
    width: 100%;
  }
}
.loading__container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 111;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PopUp {
  background: rgba(#111, 0.5);
  transform: translateY(0);
  transition: 1s all ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
h2 {
  font-family: "Poppins";
  text-transform: capitalize;
  font-weight: 600;
  color: $color__secondary;
}
.ul__information {
  li {
    display: flex;
    align-items: center;
    color: $color__secondary;
    padding-bottom: 15px;
    text-transform: capitalize;
    .icon__container {
      border-radius: 50px;
      height: 45px;
      width: 45px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color__primary;
      svg {
        height: 24px;

        color: white;
      }
    }

    span {
      display: block;
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }
}
